{% load staticfiles %}
{% load url from future %}


<!DOCTYPE html ng-app=""><html lang="en" ng-app="windowshopper" ng-controller="MainCtrl" class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths ng-scope">
<head>
<link rel="stylesheet" href="{% static 'css/picky.css' %}">
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'js/angular.js' %}">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta charset="utf-8">
</head>
<body class="modal-open">
    <div class="fullscreen-container container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>