<!DOCTYPE html>
<html lang="en">
<head>
  <title>Picky Foody</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>

    ul{
      list-style-type: none;
    }
    
    div ul li img{
      display: block;
      position: absolute;
      left: 35%;
      top:  35%;
/*      margin-left: auto;
      margin-right: auto;*/
      height: 300px; 
      width: 300px;

    }



  </style>
</head>


<body>
<h1>Picky Foody</h1>
<div class="center">
<ul>
    <li><img id='img1' src='/static/images/kids.jpg' ></li>
    <li><img id='img2' src='/static/images/ambient.jpg'  ></li>
    <li><img id='img3' src='/static/images/romantic.jpg' ></li>
</ul>
</div>

<!-- Include hammer.js library -->
<script src="//d3kt63i4n3r3r8.cloudfront.net/assets/examples/hammer-1.1.1-74c3a245b2081b735186d31209e4569f.js"></script>
<script>
    // Initialize the good old webDevBreak namespace
    var webDevBreak = {};

    webDevBreak.prepareForTouches = function() {

        function deleteElement(event) {
            var elementToDelete = event.target;
            // Stop detecting touches on element when it's no longer needed. Can prevent odd behaviour.
            event.gesture.stopDetect();
            elementToDelete.style.display = 'none';
        };

        // Swipe options as recommended by:
        // https://github.com/EightMedia/hammer.js/wiki/Tips-&-Tricks#horizontal-swipe-and-drag
        var swipeOptions = { dragLockToAxis: true, dragBlockHorizontal: true };
        function initTouchListeners(touchableElement) {
            var touchControl = new Hammer(touchableElement, swipeOptions);
            touchControl.on("swiperight", deleteElement).on("swipeleft", deleteElement);
                
        };

        var listItems = document.querySelectorAll('li');
        for (var i = 0; i < listItems.length; i += 1) {
            initTouchListeners(listItems[i]);

        }
    }
    webDevBreak.prepareForTouchesWhenReady = function() {
        document.addEventListener("DOMContentLoaded", webDevBreak.prepareForTouches);
    };

    webDevBreak.prepareForTouchesWhenReady();

</script>


</body>
</html>
