{% load staticfiles %}
{% load url from future %}


<!DOCTYPE html ng-app=""><html lang="en" ng-app="picky" ng-controller="MainCtrl" class>
<head>
	<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
	<title ng-bind="Page.fullTitle()" class="ng-binding">Browse - Picky</title>
	<link rel="stylesheet" href="{% static 'css/picky.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'js/angular.js' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/styles/vendor.b5f45adb.css">
	<link rel="stylesheet" href="/static/styles/main.81ad88a9.css">
</head>
<body class>
	<div class="fullscreen-container" ng-class="{'menu-site-nav-open': navbar.show['site'],
	'menu-filters-open': navbar.show['filters'],
	'menu-history-open': navbar.show['history']}"> <div class="menu-pusher" id="menu-pusher" click-to-close-menu=""> <div id="main"> <!-- uiView:  --><div ui-view="" id="primary-ui-view" class="ng-scope"><!-- uiView: undefined --><ui-view class="ng-scope"><!-- <link href="{{ url_for('trending_articles_feed') }}" rel="alternate" title="WindowShopper - Trending Posts" type="application/atom+xml"> --> <div ng-controller="BrowseCtrl" id="browse-wrapper" class="ng-scope">

	<!--  we go through this, items are main pictures -->
	<items>

		<div class="item-wrapper"> 
			<div class="item-container">

				<item-instructions class="ng-scope">

				<div class="item-instructions item-instructions-pt-1 rounded-corner animate-show-hide ng-animate ng-hide" ng-click="hideInstructions()" ng-show="showInstructionsPt1" style=""> 

					<div class="item-instructions-left"> <i class="fa fa-reply"></i> Swipe left 
						<div class="item-instructions-dislike"> dislike </div> </div>

						<div class="item-instructions-right"> <i class="fa fa-share"></i> Swipe right 
							<div class="item-instructions-like"> like </div> </div> 

							<div class="clearfix"></div> 
							<div class="item-instructions-dismiss"> (Tap to dismiss) </div> 

           </div> 

       </item-instructions> 
       <div class="spinner ng-hide" ng-show="Browse.products.meta.loading"></div>

       <div ng-repeat="product in Browse.products.queue | limitTo: 3" ng-show="Browse.products.queue.length > 0" class="item rounded-corner ng-scope animate-like animate-partial animate-like-partial" ng-class="{'animate-like': $first, 'animate-partial': $first, 'rotate-0': $middle, 'rotate-1': $last}"> <!-- ngIf: $first -->
       	<div ng-if="$first" class="item-empty likedislike like animate-show ng-scope active" style=""> Like </div><!-- end ngIf: $first --> <!-- ngIf: $first -->
       	<div ng-if="$first" class="item-empty likedislike dislike animate-show ng-scope" style=""> Dislike </div>

       	<!-- end ngIf: $where picture is--> 
       	<div class="item-pic-container">
       		<div class="item-pic" ng-style="{'background-image': 'url(\'' + product.image_urls[0] + '\')'}" style="background-image: url(http://g.nordstromimage.com/imagegallery/store/product/large/2/_9364242.jpg);"></div> 
       	</div> 
       	<!-- Above. this is where we will have to replace item pic container with different pictures. Below is description.  -->
       	<div class="item-info"> <div class="name text-left ng-binding">Lauren Ralph Lauren Wool Blend Twill Walking Coat (Online Only)
</div><!--

--> </div> 

</div><!-- end ngRepeat: product in Browse.products.queue | limitTo: 3 -->

<div ng-repeat="product in Browse.products.queue | limitTo: 3" ng-show="Browse.products.queue.length > 0" class="item rounded-corner ng-scope rotate-0" ng-class="{'animate-like': $first, 'animate-partial': $first, 'rotate-0': $middle, 'rotate-1': $last}"> <!-- ngIf: $first --> <!-- ngIf: $first --> 

<div class="item-pic-container"> <div class="item-pic" ng-style="{'background-image': 'url(\'' + product.image_urls[0] + '\')'}" style="background-image: url(http://g.nordstromimage.com/imagegallery/store/product/large/7/_9561087.jpg);"></div> </div> 

<div class="item-info"> <div class="name text-left ng-binding">Sole Society 'Romy' Bootie (Women)</div> <!--
<div class="provider text-left">
  <a href="">{{product.provider_info.provider.name}}</a>
</div>
--> </div> </div><!-- end ngRepeat: product in Browse.products.queue | limitTo: 3 -->
<div ng-repeat="product in Browse.products.queue | limitTo: 3" ng-show="Browse.products.queue.length > 0" class="item rounded-corner ng-scope rotate-1" ng-class="{'animate-like': $first, 'animate-partial': $first, 'rotate-0': $middle, 'rotate-1': $last}"> <!-- ngIf: $first --> <!-- ngIf: $first --> 

<div class="item-pic-container"> <div class="item-pic" ng-style="{'background-image': 'url(\'' + product.image_urls[0] + '\')'}" style="background-image: url(http://g.nordstromimage.com/imagegallery/store/product/large/5/_8775545.jpg);"></div> </div> 

<div class="item-info"> <div class="name text-left ng-binding">Michael Kors 'Parker' Blush Acetate Link Chronograph Watch, 39mm</div><!--
<div class="provider text-left">
  <a href="">{{product.provider_info.provider.name}}</a>
</div>
--> </div> </div><!-- end ngRepeat: product in Browse.products.queue | limitTo: 3 --> </div> </div> 
<!-- really important for controlling swipe -->
<div class="controls-container"> 
	<div class="controls rounded-corner"> <button class="dislike-btn" ng-click="dislikeProduct()"> <i class="fa fa-thumbs-o-down"></i> </button><button class="like-btn" ng-click="likeProduct()"> <i class="fa fa-thumbs-o-up"></i> </button> </div> </div></items> </div></ui-view></div> </div> </div> 



<div class="provider text-left">
  <a href="">{{product.provider_info.provider.name}}</a>
</div>
--> </div> </li><!-- end ngRepeat: product in history.products | reverse --> </ul> <!-- ngIf: WsApi.auth.isNotLoggedIn() --></div>
</div>
<script src="{% static 'js/vendor.d271e9c8.js' %}"></script>
<script src="{% static 'js/scripts.03ad4ded.js' %}"></script>
</body>

</html>